{% extends 'partials/base.html.twig' %}

{% block content %}
<header class="main-header">
    <div class="container">
        <h1 class="page-title">校历安排</h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
            <div class="portfolio-menu">
                <h3><i class="fa fa-desktop"></i>{{ page.parent.parent.title }}</h3>
                <ul class="portfolio-cats">
                    <li><span class="filter active"><a href="{{ page.parent.url }}">校历安排</a> &gt;&gt; {{ page.title }}</span> </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-9 ">
            <article class="post animated fadeInLeft animation-delay-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="post-title">{{ page.header.content.title?:page.title }}</h3>
                        <div class="row">                            
                        </div>
                        <div class="row">
                            <div class="col-lg-12 post-content">
                            {{ page.content }}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer post-info-b">
                        <div class="row">
                            <div class="col-lg-10 col-md-9 col-sm-8">
                                <i class="fa fa-clock-o"></i> {{ page.header.content.time }}
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}